---
layout: default
---


<div class="row">
  {% for post in site.posts %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3>{{post.title}}</h3>
        </div>
        <div class="panel-body">
           {{ post.short_description }}
        </div>
        <div class="panel-footer">
          <p class="text-info pull-right">
            Posted On: {{ post.date | date: "%b %-d, %Y"}}
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

